@CHARSET "UTF-8";
body {
    background: #00FFE6;
}


/* HEADER */

#header {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: #660099;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 4px solid #436fac;
    min-width:500px;
}

#menu {
    padding-top:4px;
    text-align: right;
    min-width:500px;
}

#logo{
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #00CCFF;
    font-weight: bold;
    font-size: 30px;
    background-image: url("../images/test_services.jpg");
    min-height: 400px;
    text-align:right;
    min-width:450px;
}

#header a{
    text-decoration: none;
    color: black;
    padding: 4px 15px;
    background: #00CCFF;
    font-weight: bold;
    font-size: 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#header a:hover{
    background: #4d8add
}


/* CONTENT */

#content {
    margin-left: 50px;
    margin-right: 50px;
    min-height: 300px;
    padding:20px;
    background: #fff;
    min-width:500px;
}


/* FOOTER */
#footer {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background: #660099;
    color: #00CCFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width:500px;
}

/* TABLE STYLES */

.list td {
    min-width: 20px; 
    padding: 5px; 
    margin: 9px 0 0;
    font-weight: bold;
    font-size: 17px;
}

.list a{
    text-decoration: none;
    color: black;
    padding: 4px 15px;
    background: #00CCFF;
    font-weight: bold;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* FORM STYLES */
form {
    font: 100% verdana,arial,sans-serif;
}

form label { 
    display: block;
    float: left; 
    width: 150px; 
    padding: 0; 
    margin: 9px 0 0;
    text-align: right; 
}

form input, form select, form textarea {
    width: auto;
    margin: 5px 0 0 10px;
    border: 1px solid gray;
    padding: 4px;
}

form input[type=submit]:hover {
    cursor: pointer;
    background: silver;
}


form br {clear: left;}

/* NEWS STYLES */

.title {
    font: 100% verdana,arial,sans-serif;
    color: black;
    padding: 12px 20px;
    background: #00CCFF;
    font-size: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    font: 100% verdana,arial,sans-serif;
    text-align:justify;
    margin: 15px;
}

.time{
    text-align:right;
    color: grey;
    font-size: 13px;
    font-family: Arial;
}

.manage_news{
    text-align:right;
}

#news_tab{
    min-width:500px;
    max-width: 900px;
}



/* FONTS */

h2{ /* Used for explenations */
    color: grey;
    font-size: 14px;
    font-family: Arial;
}

.dashboard_info {
	text-align: right;
	min-width: 200px;
	max-width: 900px;
	font-size: 15px;
}